---
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  GGG
  <!-- <img class=image alt='Greek God Gains Logo' height="16" width="200"> -->
  </span>


<style>
  .image {
    content: url('~/assets/images/g4.png');
    text-align: center;
  }
</style>
